.ready {
  margin-bottom: 96px;
}

.ready__box {
  max-width: 1110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ready__heading {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: #36536B;
}
.ready__box-form {
  position: relative;
    max-width: 445px;
    margin-bottom: 16px;
    align-items: center;
    border-radius: 24px;
}
.ready__form {
}
.ready__form-email {
  padding: 12px 228px 15px 20px;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border:1px solid transparent;
    // max-width: 420px;
    // padding: 15px 35px 15px 20px;
    border-radius: 24px;
}
.ready__form-email:focus{
  background-color: transparent;
  outline: none;
  border:1px solid dodgerblue;
}
.ready__form-email:hover{
  cursor: pointer;
  background: rgba(251, 252, 254, 0.871);

}
.ready__form-email:active{
  
  background: #FBFCFE;

}
.ready__button {
  position: absolute;
    left: 272px;
    padding: 15px 25px;
}

.ready__button{
  position: absolute;
    left: 272px;

}

@media only screen and (max-width: 480px) {
  
  }

  @media only screen and (max-width:380px) {
    
  
}

@media only screen and (max-width:320px) {
  

}
